// _colours.scss

$clr-accent:     #282428;
$clr-accent-alt: #2e2e2e;

$clr-bg:         #383838;
$clr-bg-bar:     #171717;
$clr-bg-content: #0d0c0d;

$clr-content:    #a1a1a1;
$clr-main:       #c80a48;
$clr-neutral:    #fff;

$clr-logo-vvm:   #72c02c;